/*Event Flexboxes*/
product-superuser footer {
	display: flex;
	flex-flow: column wrap;
	align-content: center;
}

/*Checkout Cart Flexboxes*/
.totalcheckout {
	display: flex;
	flex-flow: row wrap;
}

.checkoutCart {
	display: flex;
	flex-flow: column wrap;
	max-width: 70%;
}

.checkoutItems {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.checkoutItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
}

.priceAndPayment {
	max-width: 25%;
}

.paymentForm {
	display: flex;
	flex-grow: 4;
}

@media screen and (max-width: 55em) {

	.totalcheckout {
		justify-content: center;
	}

	.checkoutCart {
		max-width: 100%;
	}


	.priceAndPayment {
		margin-top: 1em;
		max-width: 100%;
	}

	.checkoutItems {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
	}

}

/*Nav Bar Flexboxes*/
nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;

}


.Top-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

}



.centerlogo {
	display: flex;
	flex-direction: column;
}

.filter {
	flex: 1;
}

.filter-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.sortby-container {
	display: flex;
	flex-direction: row;

}

.title-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.checkbox-container {
	display: flex;
	flex-direction: column;
}

.super-container {
	display: flex;
	flex-direction: column;
}

.product-container {
	display: flex;
	/* flex: 5; */
	flex-direction: row;
	margin-left: 4rem;
	margin-right: 4rem;
	justify-content: center;
	box-sizing: border-box;
}

.listing-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 100px;
	background-color: white;
	box-sizing: border-box;
}

.listing-image {
	/* flex:0 0 1;
	width: 100%;
	height: 50%;
	object-fit: fill;
	align-self: center; */

	width: 325px;
	background-color: #f0f0f0;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	margin: 20px;
	box-sizing: border-box;

}

.listing-image img {
	width: 100%;
	height: auto;
}

.listing-text {
	/* flex: 0 0 1;
	width: 100%;
	height: 50%;
	border: 1px groove #459329;
	background:#459329;
	color:white; */
	padding: 16px;
	box-sizing: border-box;
}

.listing-text h2 {
	font-size: 28px;
	margin-bottom: 8px;
}

.listing-text h4 {
	font-size: 15px;
	color: #666;
	margin-bottom: 8px;
	line-height: 1.3;
}

.search-bar form {
	display: flex;
	justify-content: center;
	margin-left: 2rem;
}

.search-bar a {
	margin-left: -2rem;
}

.product-super-container {
	display: flex;
	flex-direction: row;
	margin-top: 2rem;
}

.product-image-container {
	flex: 1;
}

.product-text-container {
	flex: 1;
}


/*Event Flexboxes*/

.eventContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.eventBlock {
	flex: 1;
	flex-shrink: 1;
	flex-basis: 20%;
}

/*
min-width -> the value or BIGGER
max-width -> the value or SMALLER
*/

@media screen and (max-width: 68rem) {
	.eventBlock {
		min-width: 40%
	}

}

@media screen and (max-width: 40rem) {
	.eventBlock {
		min-width: 80%
	}

}


/*About Us Page*/

.story {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.story1 {
	max-width: 40%;
}

.story img {
	max-width: 50%;
}

.reviewContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}



.reviewBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 25%;
	min-width: 15%;
}

.Review-Container {
	display: flex;
	flex-direction: column;
}

.user-review-container {
	margin-top: 3rem;

}

.review1 {
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;

}

.review2 {
	display: flex;
	flex-direction: row;
	align-self: center;
	font-size: 12px;

}



.brandContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.Service-description {
	display: flex;
	flex-direction: column;
	justify-content: center;

}

@media screen and (max-width: 45rem) {
	.reviewBox {
		min-width: 50%
	}


	.story img {
		order: 1;
		max-width: 100%
	}

	.story1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		order: 2;
		max-width: 100%;
	}
}

@media screen and (max-width: 1080px) {
	.product-container {
		flex-direction: column;
		justify-content: center;
	}

	.product-super-container {
		flex-direction: column;
	}

	.user-review-container {
		flex-direction: column;
		justify-content: flex-start;
	}
}

.footer-nav-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px;


}

.footer-nav ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.footer-nav li {
	margin-right: 20px;
}

.footer-nav li:last-child {
	margin-right: 0;
}

.footer-info-container{
	display:flex;
	flex-direction: row;
	justify-content: center;
}
.footer-company-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer-company-info p,
address {
	font-size: 16px;
	font-weight: bolder;
	align-self: center;
	width: 100%;
}