/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

img {
  max-width: 100%;
}

p {
  font-weight: 300;
}

/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */



.button-nav {
  display: inline-block;
  border: none;
  border-radius: 0.25em;
  font-weight: bold;
  margin-left: 2rem;
  margin-bottom: 1rem;
  background-color: black;
  color: white;
  padding: 0.5em 1em 0.5em 1em;
}

.button-nav:hover,
.button-nav:focus {
  color: white;
  background-color: rgb(200, 200, 200);
}

.Submit {
  color: white;
  background-color: #022e1c;
}

.Submit:hover,
.Submit:focus {
  color: black;
  background-color: #eee683;
}

.Reset {
  color: white;
  background-color: #8ea75f;
}

.Reset:hover,
.Reset:focus {
  color: black;
  background-color: #eee683;
}

a {
  text-decoration: none;
  color: black;
}

section a:hover,
section a:focus {
  /*learned from cousin who has experience coding in HTML/CSS */
  text-decoration: line-through;
}

a img,
a img {
  /*learned from cousin who has experience coding in HTML/CSS */
  border: 0.1em solid white;
  max-width: 100%;
}

section a:hover img,
section a:focus img {
  /*learned from cousin who has experience coding in HTML/CSS */
  border: 0.1em solid black;
}

.content_container {
  width: 100%;
  margin: 0% 0% 0% 0%;
}

.content_container img {
  width: 100%;
}

.listing img {
  width: 100%;
  height: 100%;
}

.text_container a {
  /*learned from grids completed tutorial*/
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(100, 100, 100);
  text-decoration: none;
  margin-bottom: 6rem;
  align-content: center;
}

.Checkout_container a {
  /*learned from grids completed tutorial*/
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(100, 100, 100);
  text-decoration: none;
  margin-bottom: 6rem;
  align-content: center;
}

.checkoutItem {
  padding: 0.5em;
  margin: 1em;
  max-width: 20em;
}

.paymentForm {
  margin-left: 1em;
  padding: 1.5em;
  border-left: 1px solid black;
}

form input {
  /*learned from cousin who has experience coding in HTML/CSS */
  /* border: 1px solid black; */
}

form input:hover,
form input:focus {
  /*learned from cousin who has experience coding in HTML/CSS */
  /* border: 1px solid cyan; */
}

/*
  TEXT ELEMENTS -------------------
*/

.text_container {
  margin-top: -30%;
  position: relative;
  width: 100%;
}

.text_container h1 {
  text-align: center;
  font-size: 7vw;
  /* https://www.w3schools.com/cssref/css_units.php */
  font-weight: bold;
}

.text_container h2 {
  text-align: center;
  font-size: 2vw;
  /* https://www.w3schools.com/cssref/css_units.php */
  font-weight: bold;
  margin-top: 1rem;

}

.introduction h3 {
  display: inline-block;
  background: rgb(250, 250, 250);
  margin-top: 3rem;
}

p {
  width: 80%;
  /*learned from cousin who has experience coding in HTML/CSS */
  margin-top: 0;
}

li {
  margin-bottom: 2em;
  font-weight: bold;
}

h1 {
  /* margin-bottom: 1rem; */
}

h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: bold;
}

h3 {
  font-style: italic;
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.25rem;
}

.container {
  /*learned from grids completed tutorial*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.c_container {
  /*learned from grids completed tutorial*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
}

.cart_container img {
  max-width: 20vw;
  max-height: 20vw;
}

.cart_container {
  display: inline-block;
  background-color: rgb(250, 250, 250);
}

.c_container {
  display: block;
  background-color: white;
  flex: 1 1 0;
}

.listing {
  display: block;
  background-color: white;
  flex: 0 1 15em;
  margin-top: 5vw;
}

.cart {
  width: 2%;
  height: 2%;
}

.payment_container {
  margin-top: 3rem;
}

.font_img {
  max-width: 20vw;
  max-height: 20vw;
}

.Palette_img {
  max-width: 20vw;
  max-height: 20vw;
}

.inspo_img {
  max-width: 40vw;
  max-height: 40vw;
}

s .checkoutImg {
  max-width: 40%;
}

form {
  font-weight: bold;
}

label {
  font-weight: bold;
}

section {
  margin-bottom: 2em;
  /*learned from cousin who has experience coding in HTML/CSS */
}

body {
  font-family: 'Montserrat', sans-serif;
  /*learned from cousin who has experience coding in HTML/CSS */
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

form div {
  /*learned from cousin who has experience coding in HTML/CSS */
  margin-bottom: 5px;
}

.xlarge-container {
  border-top-width: thin;
  border-top-style: solid;
  border-top-color: black;
}

.filter {
  padding-left: 2rem;
}

/* Nav bar and top-bar */
.Top-bar a:hover {
  color: lightgray;
}

nav {
  background-color: #459329;
  padding: 1em 1em 1em 1em;
  border-radius: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding: 0.25em 1em 0.25em 1em;
}

nav a:hover,
nav a:focus {
  /*the !important overrides the section a:*/
  text-decoration: none !important;
  border-color: white;
  color: #0b2900;
  transition: color 0.25s ease-out;
  border-color: white;
}

.bannerImg img {
  max-width: 50%;
  max-height: 50%;
}

.topicons span {
  margin-right: 1rem;
}

.nav-bar a {
  margin-left: 2rem;
  margin-right: 2rem;
  font-weight: bold;
  font-size: larger;

}

.search-bar input {
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.search-bar {
  margin-left: auto;
  justify-content: right;
}


/* Individual listing pages */

.description-container {
  border-top-width: thin;
  border-top-style: solid;
  border-top-color: black;
}

.product-image-container img {
  max-width: 75%;
  margin-left: 2rem;
}

.product-text-container h2,
h3 {
  text-align: left;
  font-weight: bold;
  margin-left: 2rem;
}

.product-text-container p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: left;
  margin-left: 2rem;
  line-height: 1.5;
}

.product-text-container h2 {
  margin-bottom: -1rem;
}

.Review-container {
  border-top-width: thin;
  border-top-style: solid;
  border-top-color: black;
}

.user-review-container {
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: black;
}

.review1 img {
  width: 50px;
  height: auto;
}


/* Multi-product page */

.dog-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
  background-image: url("../Media/dogbanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 3rem;

}

.cat-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
  background-image: url("../Media/catbanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 3rem;
}

.banner-text h2 {
  margin-top: -4rem;
  font-size: 96px;
  color: #333;
  font-weight: bold;
  white-space: nowrap;
}

.Service-description h2{
  font-size: 48px;
}

.Service-description p{
  font-size: 21px;
}

.exploreButton{
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
  margin-bottom: 2rem;
}

.Service-description p{
  width: 50%;
  align-self: center;
  margin-bottom: 2rem;
}

.Service-description h3{
  font-size: 32px;
  align-self: center;
  margin-top: 1rem;
  margin-bottom: -3rem;
}

.product-container .listing-container:hover {
  background-color: lightblue;
  color: black;
  transition: color 0.25s ease-out;
}

.listing-container h4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.listing-container {
  cursor: pointer;
  margin-bottom: 2rem;
}

.listing-image img {
	width: 100%;
	height: auto;
}

.listing-text {
	padding: 16px;
	box-sizing: border-box;
}

.listing-text h2 {
	font-size: 28px;
	margin-bottom: 8px;
}

.listing-text h4 {
	font-size: 15px;
	color: #666;
	margin-bottom: 8px;
	line-height: 1.3;
}


/* Footer */

footer {
  background-color: #459329;
  padding: 1em;
  margin-top: 5em;
}

.footer-company-info p,
address {
	font-size: 16px;
	font-weight: bolder;
	align-self: center;
	width: 100%;
}

.footer-nav li {
	margin-right: 20px;
}

.footer-nav li:last-child {
	margin-right: 0;
}