/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */

<<<<<<< HEAD

=======
.search-bar{
	margin-left: auto;
	justify-content: right;
}
>>>>>>> EricP01

.button-nav {
display:inline-block;
border:none;
border-radius: 0.25em;
font-weight: bold;
margin-left: 2rem;
margin-bottom: 1rem;
background-color: black;
color: white;
padding: 0.5em 1em 0.5em 1em;
}

.button-nav:hover, .button-nav:focus {
  color: white;
  background-color: rgb(200,200,200);
}

.Submit{
  color: white;
  background-color: #022e1c;
}

.Submit:hover, .Submit:focus{
  color:black;
  background-color: #eee683;
}

.Reset{
  color:white;
  background-color: #8ea75f;
}

.Reset:hover, .Reset:focus{
  color:black;
  background-color: #eee683;
}

nav{
<<<<<<< HEAD
  background-color: black;
  padding:1em 1em 1em 1em;
=======
  background-color:#459329;
  padding:1em 1em 1em 1em;
  border-radius: 1rem;
>>>>>>> EricP01
}

nav a{
  color:white;
  text-decoration: none;
<<<<<<< HEAD
  border-top:2px solid black;
  border-bottom: 2px solid black;
=======
>>>>>>> EricP01
  margin-top:0.25em;
  margin-bottom: 0.25em;
  padding:0.25em 1em 0.25em 1em;
}

nav a:hover, nav a:focus {
  /*the !important overrides the section a:*/
  text-decoration: none !important;
  border-color:white;
}

section a:hover, section a:focus { /*learned from cousin who has experience coding in HTML/CSS */
  text-decoration:line-through;
}

a img, a img{ /*learned from cousin who has experience coding in HTML/CSS */
  border: 0.1em solid white;
}

section a:hover img, section a:focus img{ /*learned from cousin who has experience coding in HTML/CSS */
  border: 0.1em solid black;
}

.content_container{
  width:100%;
  margin: 0% 0% 0% 0%;
}

.content_container img{
  width: 100%;
}

.listing img {
  width:100%;
  height: 100%;
}

.text_container a{ /*learned from grids completed tutorial*/
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(100, 100, 100);
  text-decoration: none;
  margin-bottom: 6rem;
  align-content: center;
}

.Checkout_container a{ /*learned from grids completed tutorial*/
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(100, 100, 100);
  text-decoration: none;
  margin-bottom: 6rem;
  align-content: center;
}

.checkoutItem{
  padding: 0.5em;
  margin:1em;
  max-width: 20em;
}

.paymentForm{
  margin-left:1em;
  padding: 1.5em;
  border-left:1px solid black;
}

form input{ /*learned from cousin who has experience coding in HTML/CSS */
<<<<<<< HEAD
  border: 1px solid black;
}

form input:hover, form input:focus{ /*learned from cousin who has experience coding in HTML/CSS */
  border: 1px solid cyan;
=======
  /* border: 1px solid black; */
}

form input:hover, form input:focus{ /*learned from cousin who has experience coding in HTML/CSS */
  /* border: 1px solid cyan; */
>>>>>>> EricP01
}

/*
  TEXT ELEMENTS -------------------
*/

.text_container{
  margin-top: -30%;
  position:relative;
  width:100%;
}

.text_container h1 {
  text-align: center;
  font-size: 7vw;  /* https://www.w3schools.com/cssref/css_units.php */
  font-weight: bold;
}

.text_container h2 {
  text-align: center;
  font-size: 2vw;  /* https://www.w3schools.com/cssref/css_units.php */
  font-weight: bold;
  margin-top: 1rem;

}
.introduction h3{
  display:inline-block;
  background: rgb(250, 250, 250);
  margin-top: 3rem;
}

p {
  width: 80%;  /*learned from cousin who has experience coding in HTML/CSS */
  margin-top: 0;
}

li{
  margin-bottom: 2em;
  font-weight: bold;
}

h1{
  /* margin-bottom: 1rem; */
}

h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: bold;
}

h3 {
  font-style: italic;
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.25rem;
}

.container {   /*learned from grids completed tutorial*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
.c_container {   /*learned from grids completed tutorial*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
}

.cart_container img{
  max-width: 20vw;
  max-height: 20vw;
}

.cart_container {
  display: inline-block;
  background-color: rgb(250, 250, 250);
}

.c_container {
  display:block;
  background-color: white;
  flex: 1 1 0;
}

.listing {
  display:block;
  background-color: white;
  flex: 0 1 15em;
  margin-top: 5vw;
}

.cart{
  width:2%;
  height:2%;
}

.payment_container{
  margin-top: 3rem;
}

.font_img{
  max-width: 20vw;
  max-height: 20vw;
}

.Palette_img{
  max-width: 20vw;
  max-height: 20vw;
}

.inspo_img{
  max-width: 40vw;
  max-height: 40vw;
}s

.checkoutImg{
  max-width: 40%;
}

.checkoutImg{
  max-width: 40%;
}

form{
  font-weight: bold;
}

label{
  font-weight: bold;
}

section{
  margin-bottom: 2em; /*learned from cousin who has experience coding in HTML/CSS */
}

body {
    font-family: 'Montserrat', sans-serif; /*learned from cousin who has experience coding in HTML/CSS */
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

form div { /*learned from cousin who has experience coding in HTML/CSS */
  margin-bottom: 5px;
}

.dropdown{
  overflow:scroll-y;

}

.xlarge-container{
  border-top-width: thin;
  border-top-style: solid;
  border-top-color: black;
}

.listing-container img{
  max-width: 100%;
  max-height: 100%;
}

.Top-bar img{
  max-width: 100%;
  max-height: 80%;
}

.listing-container{
  cursor: pointer;
}

.search-bar img{
  max-width: 80%;
  max-height:80%;
}

.filter{
  padding-left: 2rem;
}

.Top-bar h1, p{
padding-left: 2rem;
}

.listing-container{
  margin-bottom: 2rem;
}

.nav-bar a{
  margin-left: 2rem;
  margin-right: 2rem;
  font-weight: bold;
  font-size: larger;
  
}

.search-bar input{
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.Top-bar p{
  font-family: "Tinos", serif;
  font-style: italic;
}

.product-text-container h2, h3 {
  text-align: left;
  font-weight: bold;
  margin-left: 2rem;
}

.product-text-container p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: left;
  
}

.description-container{
  border-top-width: thin;
  border-top-style: solid;
  border-top-color: black;
}

.product-image-container img{
  max-width: 75%;
  margin-left: 2rem;
}

.Review-container{
  border-top-width: thin;
  border-top-style: solid;
  border-top-color: black;
}

.user-review-container{
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: black;
}

.product-text-container h2{
 margin-bottom:-1rem;
}
 

/*
  COMBINED ELEMENTS -------------------

*/
